@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>API Soap</h2>
        <ul>
            <li>@Html.ActionLink("Clique Aqui", "Inicio", "Soap")</li>
        </ul>        
    </div>
    <div class="col-md-4">
        <h2>API Rest</h2>
        <ul>
            <li>@Html.ActionLink("Clique Aqui", "Inicio", "Rest")</li>
        </ul>
    </div>
</div>


